{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "elasticbeanstalk-docker-deploys-2",
    "Key": ".docker/config.json"
  },
  "Image": {
    "Name": "nickblair/icecream:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "5000"
    }
  ]
}
