{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "nick-docker-test",
    "Key": ".docker/nonsense"
  },
  "Image": {
    "Name": "nickblair/icecream:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "5000"
    }
  ]
}
